<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
    <p>Rating: <%= review.rating %></p>
    <%= review.content %></li>
  <% end %>
</ul>
<br>
